* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



div {
    width: 40%;
    padding: 1px;
    border: 1px solid #af0505;
    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}